header {
    background: $bg;
    border-bottom: 5px solid $main;
    nav {
        .navbar-brand {
            img {
                width: 140px;
            }
        }
        .navbar-collapse {
            a {
                i {
                    font-size: 18px;
                    color: $text;
                    transition: all 0.3s;
                }
                &:hover {
                    i {
                        color: $main;
                    }
                }
            }
        }
    }
}
footer {
    .firstFooter {
        padding-top: 10px;
        padding-bottom: 40px;
        .menuList {
            ul {
                flex-direction: row;
            }
        }
        .socials {
            ul {
                li {
                    display: inline-block;
                    margin: 0 10px;
                    a {
                        color: $main;
                        font-size: 18px;
                    }
                }
            }
        }
    }
    .secondFooter {
        padding: 10px 0;
        background: #4d4d4d;
        span {
            color: #ffffff;
            font-size: 12px;
            opacity: 0.6;
        }
    }
}
.searchModal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    opacity: 0.95;
    background: $main;
    display: none;
    .searchContent {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .closeModal {
            position: absolute;
            right: 20px;
            top: 20px;
            i {
                font-size: 30px;
                color: white;
            }
        }
        .inputArea {
            width: 70%;
            text-align: center;
            input {
                height: 46px;
                border-radius: 10px;
                &:focus {
                    border: none;
                    box-shadow: 0px 0px 5px 5px #ffffff42;
                }
            }
            button {
                color: white;
                margin-top: 20px;
                border: 1px solid;
                i {
                    font-size: 20px;
                }
            }
        }
    }
}
ul.navbar-nav {
    li {
        a {
            font-size: 16px;
            font-weight: 400;
            transition: all 0.3s;
            border-right: 1px solid $main;
            padding: 0 35px !important;
            &:hover {
                color: $main !important;
            }
        }
        &:last-of-type a {
            border: none;
        }
    }
}
