$main: #ea391a;
$bg: #f4f6fa;
$input: #e8ebf3;
$black: #18191b;
$text: #4d4d4d;
@font-face {
    font-family: "Comfortaa Regular";
    src: url(../webfonts/Comfortaa-SemiBold.ttf);
}
$font: "Comfortaa Regular";
